{{extend 'layout.html'}}

<div class="container" style="overflow:hidden"><!-- Container -->
	<div class="row-fluid">
		<div class="span12">
			<div class="assassins-pad">
				<div class="assassins-padback" >
					<div class="assassins-padtape"></div>
					<div class="assassins-padheader">
						<div class="assassins-padheadertext">
							Register
						</div><!-- End Pad Header Text -->
					</div><!-- End Pad Header -->
					<div class="assassins-padcontent">
						<div id="web2py_user_form">
							{{=form}}
						</div><!-- End Login Form -->
					</div><!-- End Pad Content -->
				</div><!-- End Pad Back -->
			</div><!-- End Pad -->
		</div><!-- End Span 6 -->
	</div><!-- End Fluid Row -->
</div>