{{extend 'layout.html'}}

<div class="container" style="overflow:hidden"><!-- Container -->
	<div class="row-fluid"><!-- Fluid Row -->


		<div class="span8">
			<div class="assassins-pad">
				<div class="assassins-padback">
					<div class="assassins-padtape"></div>
					<div class="assassins-padheader">
						<div class="assassins-padheadertext">
							Assassins
						</div>
					</div>
					<div class="assassins-padcontent">
						<p>Assassins is played with a group of players that reside near each other. They are given targets and eliminate each other until there is only one player left.</p>
     					</div><!-- End Pad Content -->
				</div><!-- End Pad Back -->
			</div><!-- End Pad -->
		</div><!-- End Span 12 -->


		<div class="span4 hidden-phone"><!-- Polaroid Picture -->
			<div class="assassins-polaroid">
				<div class="assassins-polaroidback-nohover">
					<div class="assassins-polaroidcontent">
						<img class="assassins-polaroidpicture" src="{{=URL('static', 'images/assassins.png')}}" alt="">
						<div class="assassins-polaroidtext">
						</div>
						<div class="assassins-polaroidtext2">
						</div>
						<div class="assassins-polaroidpin"></div>
						<div class="assassins-vignette"></div>
					</div>
				</div>
			</div>
		</div><!-- End Polaroid Picture -->


	</div><!-- End Fluid Row -->
</div><!-- End Container-->
